[submodule ".emacs.d/themes/choco"]
	path = .emacs.d/themes/choco
	url = git@github.com:imtayadeway/emacs-color-theme-choco
[submodule ".emacs.d/plugins/yasnippet"]
	path = .emacs.d/plugins/yasnippet
	url = https://github.com/capitaomorte/yasnippet
[submodule ".emacs.d/elisp/external/rvm.el"]
	path = .emacs.d/elisp/external/rvm.el
	url = https://github.com/senny/rvm.el.git
[submodule ".emacs.d/elisp/external/rinari"]
	path = .emacs.d/elisp/external/rinari
	url = https://github.com/eschulte/rinari.git
[submodule ".emacs.d/modes/haml-mode"]
	path = .emacs.d/modes/haml-mode
	url = https://github.com/nex3/haml-mode.git
[submodule ".emacs.d/modes/yaml-mode"]
	path = .emacs.d/modes/yaml-mode
	url = https://github.com/yoshiki/yaml-mode.git
[submodule ".emacs.d/modes/scss-mode"]
	path = .emacs.d/modes/scss-mode
	url = https://github.com/antonj/scss-mode.git
[submodule ".emacs.d/modes/coffee-mode"]
	path = .emacs.d/modes/coffee-mode
	url = https://github.com/defunkt/coffee-mode.git
[submodule ".emacs.d/elisp/external/inf-ruby"]
	path = .emacs.d/elisp/external/inf-ruby
	url = https://github.com/nonsequitur/inf-ruby.git
