[submodule ".emacs.d/themes/choco"]
	path = .emacs.d/themes/choco
	url = git@github.com:imtayadeway/emacs-color-theme-choco
[submodule ".emacs.d/plugins/yasnippet"]
	path = .emacs.d/plugins/yasnippet
	url = https://github.com/capitaomorte/yasnippet
