emacs.d/auto-save-list/**
emacs.d/ido.last
emacs.d/session.*
emacs.d/.cask
emacs.d/projectile-bookmarks.eld
emacs.d/.org-id-locations
emacs.d/bookmarks
emacs.d/rake.cache
emacs.d/projectile.cache
emacs.d/elpa
emacs.d/url
