[include]
	path = ~/.gitconfig.local
[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	df = diff
	dc = diff --cached
	lg = log -p
	who = shortlog -s --
[color]
	ui = true
[commit]
	template = ~/.gitmessage
[core]
	editor = emacs
